@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#container {
    background-color: white;
    height: 600px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#QR-img {
    height: 400px;
    width: 309px;
    object-fit: cover;
    border-radius: 18px;
}

#header {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 19px 0px;
    width: 275px;
    font-size: 23px;
}

#para {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    width: 245px;
}

footer {
    margin: 10px 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
