$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$bg-color: #fff;
$border-color: rgb(238, 235, 87);
$font-stack: "Karla", sans-serif;
