@media screen and (max-width: 700px) {
  body {
    .block-container {
      flex-direction: column;
      width: auto;

      #block1 {
        width: 400px;
        height: auto;

        .parablock1 {
          margin: 8% 10% 8% 8%;
          width: auto;
        }
        .para1 {
          width: auto;
          line-height: 1.7;
        }
      }
      #block2 {
        width: 400px;
        height: auto;
        border-bottom-left-radius: 0px;
        .parablock2 {
          margin: 10% 8% 6% 8%;
        }
        input[value="Sign Up"] {
          width: 300px;
          margin: 5% 4% 5% 0%;
          padding: 5% 5%;
          font-size: 17px;
        }
      }
      #block3 {
        border-bottom-left-radius: 10px;
        width: 400px;
        height: 300px;
        .parablock3 {
          margin: 14% 32% 0% 8%;
        }
      }
    }
  }
}
@media screen and (max-width: 445px) {
  body {
    .block-container {
      #block1 {
        width: 335px;
      }
      #block2 {
        width: 335px;
        input[value="Sign Up"] {
          width: 270px;
          margin: 5% 5% 5% 0%;
          padding: 5% 5%;
          font-size: 16px;
        }
      }
      #block3 {
        width: 335px;
        height: 300px;
      }
    }
  }
}
