* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 2px solid $border-color;
}
body {
  background-color: $Light-Gray;
  font-family: $font-stack;
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .block-container {
    display: flex;
    flex-wrap: wrap;
    width: 696px;
    margin: 5% 5%;
  }
  footer {
    .attribution {
      font-size: 13px;
      text-align: center;
      color: $Cyan;
    }
    .attribution a {
      color: $Bright-Yellow;
    }
  }
}
