@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 2px solid;
}
body {
  font-family: $body400;
  font-weight: 400;
  background-color: $Violet;
  color: $white;
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: 1318px 800px;

  h1 {
    font-family: $heading400-600;
    font-weight: 600;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.container {
  .firstdiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 351px;
    text-align: center;
    line-height: 1.5;

    h1 {
      padding: 8% 0% 0% 0%;
    }
    p {
      padding: 10% 4%;
      width: 335px;
      color: #e2dddd;
    }
    button[type="submit"] {
      width: 180px;
      padding: 10px;
      border-radius: 50px;
      color: $Violet;
      background-color: $white;
      border: none;
      margin: 2% 0% 20% 0%;
      box-shadow: 2px 6px 17px 2px $shadow-color;
    }
    .btn:hover {
      background-color: $Soft-Magenta;
      color: $white;
      cursor: pointer;
    }
  }
  .seconddiv {
    padding: 2px 5px;
    margin-bottom: 2%;
    a {
      color: $white;
      display: inline-block;
      width: 30px;
    }
    a i.fab {
      font-size: 16px;
      border: 1px solid;
      border-radius: 50px;
    }
    a i.fab.fa-twitter {
      padding: 17% 15% 17% 15%;
    }
    .fab.fa-instagram {
      padding: 17% 15% 17% 15%;
    }

    a i.fab.fa-facebook-f {
      padding: 17% 22% 17% 21%;
    }
    a i.fab:hover {
      border-color: $Soft-Magenta;
      color: $Soft-Magenta;
    }
  }
}
.logocontainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  img {
    width: 160px;
    margin: 12% 0% 5% 0%;
  }
}
.imgcontainer {
  display: flex;
  flex-direction: column;

  img {
    width: 300px;
    margin: 12% 0% 5% 0%;
  }
}
footer {
  margin: 0 auto;
  .attribution {
    font-size: 13px;
    text-align: center;
  }
  .attribution a {
    color: $Soft-Magenta;
  }
}
@import "desktop";
