* {
  margin: 0;
  padding: 0;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
body {
  height: 100%;
  /* border: 5px solid rgb(4, 247, 234); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: top left, bottom right;
  font-family: "Spartan", sans-serif;
}
main {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.main-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.paradiv {
  /* border: 2px solid green; */
  width: 650px;
  color: var(--Dark-Grayish-Magenta);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  /* border: 2px solid yellow; */
  width: 260px;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  /* font-family: "Spartan", sans-serif; */
  margin-bottom: 8px;
}
.description {
  /* border: 2px solid rgb(18, 231, 46); */
  width: 475px;
  /* font-family: "Spartan", sans-serif; */
  font-weight: 400;
}
.rated {
  /* border: 2px solid plum; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 390px;
  font-size: 15px;
}
.star {
  color: var(--Very-Dark-Magenta);
}
.five-star {
  margin-bottom: 10px;
  background-color: var(--Light-Grayish-Magenta);
  padding: 12px 12px;
  border-radius: 5px;
  /* font-family: "Spartan", sans-serif; */
  font-weight: 700;
}
#five-star1 {
  /* margin-left: 0px; */
  margin-left: 0px;
  padding: 4% 6% 4% 6%;
  width: 315px;
}
#five-star2 {
  margin-left: 23px;
  width: 341px;
  padding: 4% 4% 4% 7%;
}
#five-star3 {
  margin-left: 55px;
  padding: 4% 13% 4% 7%;
  width: 315px;
}

.container {
  /* border: 2px solid darkviolet; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
  width: 100%;
  font-size: 15px;
}
.box {
  width: 280px;
  /* border: 2px solid brown; */
  margin-right: 2%;
  padding: 28px 14px 35px 22px;
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  border-radius: 10px;
}
.paragraph {
  color: var(--White);
  font-weight: 400;
  /* border: 2px dotted red; */
  width: 280px;
}
.info {
  display: flex;
  height: 55px;
  flex-wrap: wrap;
  /* border: 2px solid; */
  flex-direction: column;
  width: 170px;
}
.profile-pic {
  border-radius: 50%;
  height: 46px;
  object-fit: contain;
  width: 46px;
}
.names_id {
  /* border: 2px dashed red; */
  font-weight: 500;
}
.pinkline {
  color: var(--Soft-Pink);
}

#box2 {
  margin-top: 5%;
}
#box3 {
  margin-top: 10%;
}
footer {
  /* border: 2px solid orange; */
  margin: 9px 0px;
  font-size: 11px;
}
@media screen and (max-width: 1037px) and (min-width: 980px) {
  .paradiv {
    width: 425px;
  }
  .box {
    margin-right: 1%;
  }
}
@media screen and (max-width: 979px) and (min-width: 900px) {
  main {
    height: auto;
  }
  .paradiv {
    width: 425px;
  }
  /* .main-container {
    margin-top: 4%;
  } */

  .box {
    margin-right: 1%;
  }
  #box3 {
    margin-top: 1%;
  }
  #box2 {
    margin-top: 0%;
  }
}
@media screen and (max-width: 901px) and (min-width: 200px) {
  body {
    background-image: url(images/bg-pattern-top-mobile.svg),
      url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: top left, bottom right;
    height: 100%;
  }
  main {
    height: 100%;
  }
  /* .main-container {
    margin-top: 28%;
  } */
  .paradiv {
    align-items: center;
    width: 425px;
    margin: 10px 0px;
  }
  .description {
    width: 340px;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  img[alt="icon-star"] {
    object-fit: contain;
  }
  .rated {
    align-items: center;
    width: auto;
  }
  .five-star {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .star {
    width: 280px;
    /* border: 2px solid red; */
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #five-star1 {
    margin-left: 0px;
    padding: 4% 10% 4% 9%;
  }
  #five-star2 {
    margin-left: 0px;
  }
  #five-star3 {
    margin-left: 0px;
  }
  .container {
    flex-direction: column;
    width: auto;
  }
  .box {
    margin-right: 0%;
    margin-top: 9%;
  }
  #box3 {
    margin-top: 5%;
  }
  /* .attribution {
    margin: 24% 6px;
    margin-top: 69%;
  } */
}
@media screen and (max-width: 430px) {
  .rated {
    width: 140px;
    margin-right: 52%;
  }
  #five-star1 {
    padding: 4% 0% 4% 4%;
  }
  #fivestar2 {
    padding: 4% 2% 4% 6%;
    width: 307px;
  }
}
